<!DOCTYPE html>
<html>
    <head>
        <title>Kasm Backend Tutorial</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1 class="title">{{title}}</h1>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/request_kasm">Request Kasm</a></li>
            <li><a href="/kasms">Get Kasms</a></li>
        </ul>
        <div class="content">
        {%  block content %} {%  endblock %}
        </div>
    </body>
</html>