{%  extends "base.html" %}

{% block content %}
    <br>
    <p>This method calls https://kasm_server/api/public/destroy_kasm</p>
    <p>It can be called with a post request containing a json object with api_key, api_key_secret, user_id, kasm_id</p>
    <br>
    If no error message is returned the kasm has been deleted.
    {% if message %}
        {{ message }}
    {% endif %}
{% endblock %}