{%  extends "base.html" %}

{% block content %}
    <br>
    <p>
        This method calls https://kasm_server/api/public/get_kasm_status
    </p>
    <p>
        It can be called with a post request containing a json object with api_key, api_key_secret, user_id and kasm_id.
    </p>

    {% if message.error_message %}
        <h1>Error</h1>
        <p>{{ message.error_message }}</p>
    {% endif %}
    <br>
    {% if message.kasm %}
        <a href={{ "/destroy_kasm?kasm_id=%s&user_id=%s" % (message.kasm.kasm_id, message.kasm.user_id) }}>Destroy Kasm</a>
    {% endif %}
    <br>
    <br>
    {% if message.encoded_url %}
        <a href={{ "/session?kasm_url=%s" % message.encoded_url }}>Connect</a>
    {% endif %}
    <br>
    <br>
    <table>
        <tbody>
            <tr>
                {% if message.current_time %}
                <td>Current Time</td><td>{{ message.current_time }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if message.kasm_url %}
                <td>Kasm URL</td><td>{{ message.kasm.share_id}}</td>
                {% endif %}
            </tr>
            <tr>
                {% if message.kasm %}
                <td>Kasm</td><td>
                    {% for key, value in message.kasm.items() %}
                           {{key}}: {{value}}<br><br>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <p>
        {% if error %}
        {{ error }}
        {% endif %}
    </p>

{% endblock %}