body {
    margin: 0 auto;
    background-color: #ffffff;
    width: 80%;
}

.title {
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 50%;
}

#nav {
    overflow: hidden;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: inline;
}

#nav li a {
  display:inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #ccc;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}